.screen {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 10px;
  justify-content: flex-start;
}

// main info
.main {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.avatar {
  margin-inline: 20px;
}

.name {
  margin-bottom: 0 !important;
  margin-right: auto;
  text-transform: capitalize;
}

// additional info
.additional {
  // outline: 1px solid wheat;
}
