.profile-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  // background-color: var(--hover-color);
  background-size: cover;
  cursor: pointer;
  outline: 3px solid transparent;
  transition: outline-color 250ms;

  &:hover,
  &:focus {
    outline-color: var(--secondary-bg-color);
  }

  &::after {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    font-family: var(--fontMontserrat);
    text-transform: uppercase;
    // color: var(--color-white); content: '';
  }

  &.s {
    width: var(--btn-height-s);
    height: var(--btn-height-s);

    &::after {
      width: var(--btn-height-s);
      height: var(--btn-height-s);
      padding-top: 1px;
      font-weight: 600;
      font-size: 12px;
    }
  }

  &.m {
    width: var(--btn-height-m);
    height: var(--btn-height-m);

    &::after {
      width: var(--btn-height-m);
      height: var(--btn-height-m);
      padding-top: 1px;
      font-weight: 600;
      font-size: 16px;
    }
  }

  &.l {
    width: var(--btn-height-l);
    height: var(--btn-height-l);

    &::after {
      width: var(--btn-height-l);
      height: var(--btn-height-l);
      font-weight: 600;
      font-size: 20px;
    }
  }

  &.xl {
    width: 150px;
    height: 150px;

    &::after {
      width: 150px;
      height: 150px;
      font-weight: 600;
      font-size: 70px;
    }
  }
}
