.list {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;

  & span {
    font-size: 18px;
    font-weight: 500;

    &:last-of-type {
      margin-left: auto;
    }
  }
}

.answer {
  &:not(:last-of-type) {
    margin-right: 5px;

    &::after {
      content: ',';
    }
  }
}

.btn_wrap {
  display: flex;
}
