.wrap {
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.label {
  margin-bottom: -2px;
  margin-right: 10px;
  font-style: italic;
  // &::first-letter { text-transform: capitalize; }

  // size
  &.s {
    font-size: calc(var(--btn-font-xs) - 1px);
  }
  &.m {
    font-size: calc(var(--btn-font-s) - 1px);
  }
  &.l {
    font-size: calc(var(--btn-font-m) - 1px);
  }
}

.input {
  cursor: pointer;

  // size
  &.s {
    height: var(--indent-s);
    width: var(--indent-s);
  }
  &.m {
    height: 18px;
    width: 18px;
  }
  &.l {
    height: var(--btn-gap-l);
    width: var(--btn-gap-l);
  }
}
